.dPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    img{
        border-radius: 8px;
    }

    .container{
        margin-top: 10vh;
        width: 90%;
        height: 10vh;
        display: flex;
        align-items:start;
        font-size: 30px;
    }
}
